:root {
	/*** Colors ***/
	--primary-color: #0B3B60;
	--secondary-color: #339CFF;
	--dark-color: #161717;
	--light-color: #FFFFFF;
	--grey-color: #90989F;
	--light-grey-color: #E7EBEF;
	--text-color: #6B6E71;

	/*** Custom Styles ***/
	color: var(--text-color);
	font-family: 'Public Sans';
	
	body {
		margin: 0;
	}
}
